CONTAINER_NAME=bussines_inquiries_app
POSTGRES_NAME=bussines_inquiries_db

PORT=3001
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=riwi_business_inquiries
